<!DOCTYPE html>
<html>
<head>
    <title>Eric Chi wai Tsoi Portfolio</title>
    <link rel="stylesheet" type="text/css" href="http://basehold.it/12">
    <link rel="stylesheet" type="text/css" href="<%= reset %>">
    <link rel="stylesheet" type="text/css" href="<%= normalize %>">
    <link rel="stylesheet" type="text/css" href="<%= style %>">
    <link rel="stylesheet" type="text/css" href="<%= baseline %>">
</head>
<body>
  <main class="main">
    <h1>A very big Title and long multi-line title</h1>
    <h2>Some description Title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci.</h2>
    <h3>Some description Title Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, veniam!</h3>
    <h4>Hello World Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
    <h5>Hello World Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
    <h6>Hello World Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, blanditiis.</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, cupiditate vel eaque quos commodi sint iste maxime dignissimos eum vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, odio, non, hic, saepe eius nam inventore sequi provident ipsum libero unde dicta natus voluptas id doloribus laborum itaque quaerat ipsam quos vitae. Itaque, natus, praesentium! Maiores, autem officiis quisquam enim culpa obcaecati deserunt mollitia saepe. Eius, cum consequuntur nobis explicabo.</p>
    <div class="clear"></div>
  </main>
</body>
</html>