<DOCTYPE html>
<html>
<head>
  <title><%= site.title %> Portfolio</title>
  <% include /partials/head %>
</head>
<body>

  <% include /partials/sidebar %>

  <main class="main">
    <% include layout %>
  </main>
</body>
</html>