/* 
Project: Eric Tsoi Portfolio Grid
Client: Eric Tsoi
Author: Eric Tsoi
Designer, coder and hustler
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right; 
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left; 
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
  width: 1440px;
  margin: auto;
}

header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
header{
     background-color:red;
}



#subhead1{
     background-color:purple;
     float:left;
     width:480px;
     height: 200px;
     padding:20px;
}

#subhead2{
     background-color:gray;
     float:left;
     width:480px;
     height: 200px;
     float:left;
     padding:20px;
}

/******************************************
/* header                   
/*******************************************/

/* Center the container */

/*header{
     background-color:black;
     width: 100%;
     height: 80px;
     margin:auto;
     padding: 5px 0px;

}*/

/*h1 {
     font-size: 4em;
     font-family: open sans;
     color: white;
}*/



#container_left{
     position: relative;
     
}



#left-sidebar{
     background-color: green;
     float:left;
     width:20%;
     
     padding-left:20px;
     border-right-width:10px;
     border-right-style:solid;
     border-right-color:red;
     background: #292929; 


     



/*     position: fixed;
  left: 0;
  top: 0;*/

}

/******************************************
/* NAV            


nav {
     display: block;
     background-color: red;
     width: 100%;
     margin-left: -20px;
     background: #292929;  


nav li{
     padding: 0;
     margin:0;
     margin-left: -20px;
     width: 200px;

     padding: 20px 0px;
     font-size: 1.5em;
     font-family: open sans;
     color: white;  
     border: 1px solid black;
     border-bottom: 1px solid black;  
     border-top: 1px solid #3c3c3c;  
}


/*******************************************/
nav {
     display: block;
     width: 100%;
}


nav ul{
}

nav li{
     padding: 15px;
     margin-left: -40px;
     font-size: 1.5em;
     font-family: open sans;
     color: white;  
     border-bottom: 1px solid black;  
     border-top: 1px solid #3c3c3c;  
}

nav li:first-child {  
    border-top: none;  
}  
  
nav li:last-child {  
   border-bottom: none;  
}     

nav li:hover{
     background-color: red;
}

/******************************************
/* footer             
/*******************************************/

footer{
     background-color: blue;
}

footer ul{
     display: inline-block;
}

/******************************************
/* main                   
/*******************************************/

#main{
     background-color: yellow;
     width:80%;
     height: 900px;
     overflow:auto;
     padding:20px;
}

#right-sidebar{
     background-color: orange;
     width:320px;
     height: 500px;
     margin-left:640px;
     padding:20px;
}




/******************************************
/* icons                   
/*******************************************/

.social_icons{
     position: absolute;
     bottom: 10px;

}

.icons a { 
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}
 
.icons a.twitter { background: url(../img/social-icons/twitter.png) left top no-repeat; }
.icons a.pinterest { background: url(../img/social-icons/pinterest.png) left top no-repeat; }
.icons a.linkedin { background: url(../img/social-icons/linkedin.png) left top no-repeat; }
.icons a.facebook { background: url(../img/social-icons/facebook.png) left top no-repeat; }
.icons a.email { background: url(../img/social-icons/email.png) left top no-repeat; }
.icons a.github { background: url(../img/social-icons/github.png) left top no-repeat; }
.icons a.behance { background: url(../img/social-icons/behance.png) left top no-repeat; }
.icons a.googleplus { background: url(../img/social-icons/googleplus.png) left top no-repeat; }
 
.icons a:hover { background-position: left -34px; }
/*- See more at: http://azmind.com/2012/11/06/social-icons-sprites-35-ready-to-use-icons-psd-png-html-css/#sthash.YQr5N3KU.dpuf*/
